.card-container {
width: 85%;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.09);
border-radius: 1rem;
padding: 2rem 2rem;
align-items: center;
justify-content: center;
margin-bottom: 1.9rem;
background-color: #fff;
transition: margin-bottom 0.4s ease-in-out;
transition: margin-top 0.4s ease-in-out;
}

.btc {
display: flex;
align-items: center;
gap: 2rem;
}

.coin-bitcoin {
font-weight: 500;
font-size: 1.284rem;
color: #4d5272;
}

.coin-name {
justify-self: end;
grid-column: 3;
font-weight: 500;
color: #96a4be;
font-size: 1.284rem;
}

.coin-amount {
font-size: 3rem;
grid-row: 2;
grid-column: 1/-1;
font-weight: 600;
color: #4d5272;
padding-top: 1rem;
}

.coin-in-usd {
grid-row: 3;
font-size: 1.8rem;
font-weight: 500;
color: #96a4be;
grid-column: 1/3;
}

.value-rate {
grid-row: 3;
grid-column: 3;
width: min-content;
border-radius: 2rem;
justify-self: end;
border: none;
padding: 0.47rem 1rem;
background-color: #ee225d;
font-size: 1.284rem;
color: #ffffff;
}

.arrow-down {
grid-row: 4;
grid-column: 1/4;
justify-self: center;
align-self: center;
width: 1.5rem;
height: 1.5rem;
cursor: pointer;
padding: 1rem 0;
color: "#96a4be";
display: block;
}

.button-container {
width: 85%;
margin: 0 auto;
display: flex;
justify-content: space-around;
background-color: #fff;
padding: 1rem;
box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.09);
margin-top: -1.5rem;
z-index: 1;
font-size: 1.2rem;
list-style: none;
max-height: 0;
overflow: hidden;
opacity: 0;
transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
border-radius: 1rem;
}

.buy-sell-button {
padding: 0.5rem 1.5rem;
border: none;
border-radius: 0.5rem;
font-size: 1.2rem;
color: #fff;
background-color: #007bff;
cursor: pointer;
}

.buy-sell-button.buy {
background-color: #22ee33;
}

.buy-sell-button.sell {
background-color: #ee225d;
}

.slide-down {
max-height: 10rem;
opacity: 1;
}

.slide-up {
max-height: 0;
opacity: 0;
}
  